.logcont {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.avtar {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  justify-content: center;
}

.logtxt {
  color: #430060;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  padding-left: 14px;

}

.loginput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;

  /* Optionally set a height for vertical centering */
}

.logmailContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.loglab {
  text-align: left;
  margin-right: 16px;
  /* Adjust the margin as needed for spacing */
}

.logmail {
  width: 400px;
  height: 40px;
  margin: 20px;

}

.mailip {
  border: #430060 2px solid;
}

.Logpassword {
  margin-top: 20px;

}

.forgotpass {
  color: var(--Bright-purp, #8D4EA5);
  text-align: right;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  /* 133.333% */
  width: 162px;
  flex-shrink: 0;
  justify-content: center;
  position: absolute;
  left: 53%;
  top: 40%;
}

.login {
  display: flex;
  width: 400px;
  height: 48px;
  padding: 16px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--Bright-purp, linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #8D4EA5);
  position: absolute;
  top: 65%;
  left: 39.5%;

  flex-shrink: 0;
  color: var(--White, #FFF);
  text-align: center;

  /* Semibold 16-24 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 150% */
}

.keepsign {
  position: relative;
  top: 100%;
  left: -10%;

}

.keeplogin {
  position: relative;
  top: 87%;
  left: -5%;
  color: var(--Black, #191D23);

  /* Light 16-24 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  /* 150% */


}

.createscc {
  color: var(--Dark-purp, #36004E);
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  justify-content: center;
  position: relative;
  top: 350%;
  display: flex;
  align-items: center;
  text-align: center;
  left: 10%;
  cursor: pointer;
  text-decoration: none;

}

.signup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 8%;
  align-items: center;


}

.signtxt {
  color: #430060;
  font-family: DM Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;


  line-height: normal;



}

.signupbutton {
  display: flex;
  width: 400px;
  height: 48px;
  padding: 16px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--Bright-purp, linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #8D4EA5);
  color: #FFF;
  color: var(--White, #FFF);
  text-align: center;

  /* Semibold 16-24 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 150% */
}

.haveacc {
  color: var(--Dark-purp, #36004E);
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.loginform{

}


@media (max-width: 600px) {
  .log {
    padding: 10px;
  }

  .logtxt {
    font-size: 18px;
  }

  .logmail,
  .Logpassword,
  .keepsign,
  .keeplogin,
  .login {
    width: 100%;
  }

  .login {
    left: 10%;
    top: 50%;
    width: 80%;
    margin-left: 40px;
  }

  .keeplogin {
    left: 20%;
  }

  .keepsign {
    left: -35%;
  }

  .forgotpass {
    top: 27%;
    left: 60%;
  }

  .createscc {
    top: 350%;
    left: 20%;
  }
}

@media (max-width: 900px) {
  .log {
    padding: 10px;
  }

  .logtxt {
    font-size: 18px;
  }

  .logmail,
  .Logpassword,
  .keepsign,
  .keeplogin,
  .login {
    width: 100%;
    margin-left: 0;
    /* Resetting margin-left */
    left: 0;
    /* Resetting left */
  }

  .login {
    width: 80%;
    margin: 0 auto;
    /* Centering the login */
    top: 50%;
    transform: translateY(-50%);
    /* Centering vertically */
  }

  .keeplogin,
  .keepsign {
    left: 0;
    /* Resetting left */
  }

  .forgotpass {
    top: 27%;
    left: 60%;
  }

  .createscc {
    top: 350%;
    left: 20%;
  }
}