/* Style for the image upload container */
.image-upload-container {
    text-align: center;
    margin: 20px;

    
}

/* Style for the file input */
.file-input {
    display: none;
    /* Hide the default file input */
}

/* Style for the custom file input button */
.custom-file-input {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #3498db;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.custom-file-input:hover {
    background-color: #2980b9;
}

/* Style for the upload button */
.upload-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #2ecc71;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.upload-button:hover {
    background-color: #27ae60;
}